.button1 {
    background-color: #66a8b9;
    border: none;
    color: white;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
}

.stopbutton {
    background-color: #66a8b9;
    border: none;
    color: white;
    --hw: 7.4vw;
    height: var(--hw);
    width: var(--hw);
    font-size: calc((var(--hw) - 0.5vw)/5);
    text-align: center;
    vertical-align: middle;
    margin: 0.4vw 0.4vw;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: 0;
}

h1, h2 {
    color: #66a8b9;
}

h2 {
    margin: 0;
}

.titleWrapper {
    margin: 0.85vw 0.85vw;
}

body {
  margin:0;
  padding:0;
}

.tile-div {
  --hw: 7.4vw;
  height: var(--hw);
  width: var(--hw);
  font-size: calc(var(--hw) - 0.5vw);
  text-align: center;
  vertical-align: middle;
  line-height: var(--hw);
  margin: 0.4vw 0.4vw;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: "Kavivanar", cursive, sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tile-div[data-color='red'] {
  background-color: #CC0000;
}

.tile-div[data-color='yellow'] {
  background-color: #FFCC33;
}

.tile-div[data-color='green'] {
  background-color: #339933;
}

.tile-div[data-color='blue'] {
  background-color: #003399;
}

.boardarea-div {
  margin: 0vw 0vw;
  padding: 0;
}

.boardlowerarea-div {
  display: grid;
  grid-template-columns: 4fr 7fr 1fr;
  margin: 0vw 0vw;
  padding: 0;
}

.board-div {
  display: grid;
  grid-template-columns: repeat(1), 1fr);
  margin: 0vw 0vw;
  padding: 0;
}

.row-div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0vw 0vw;
  padding: 0;
  position: relative;
}

.linerow:after {
  position: absolute;
  left: .4%;
  top: 42.5%;
  height: 15%;
  background: black;
  content: "";
  width: 99.2%;
  display: block;
}

.cross {
  --cross1: linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) 46%,
           rgba(0,0,0,1) 47%,
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,1) 53%,
           rgba(0,0,0,0) 54%,
           rgba(0,0,0,0) 100%);
  --cross2: linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) 46%,
           rgba(0,0,0,1) 47%,
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,1) 53%,
           rgba(0,0,0,0) 54%,
           rgba(0,0,0,0) 100%);
  background: var(--cross1), var(--cross2);
}

.pboxs-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0vw 0vw;
  padding: 0;
  position: relative;
}

.pbox-div {
  --hw: 5.9vw;
  height: var(--hw);
  width: var(--hw);
  font-size: calc(var(--hw) - 0.5vw);
  text-align: center;
  vertical-align: middle;
  line-height: var(--hw);
  margin: 0.4vw 0.4vw;
  padding: 0;
  border: .75vw solid black;
  position: relative;
  overflow: hidden;
}